@import "../../variables.scss";

.containerInner {
  line-height: 1.4;
  text-align: center;
  background: #eee;
  -webkit-box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.1);
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.containerOuter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
}

.containerWithPadding {
  padding: 110px 40px;

  @include phone-width {
    padding: 0px 0px;
  }
}
