@import "../../variables.scss";
.bannerContainer {
  position: relative;
  height: 180px;
}
.banner404 {
  font-family: "Roboto", sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 165px;
  font-weight: 700;
  margin: 0px;
  color: #262626;
  text-transform: uppercase;
}
.bannerZero {
  color: $primaryColor;
}

.homeAnchor {
  color: #e94e80;
  text-decoration: none;
  outline: none;
  font-size: 2rem;
}
.homeAnchor:hover {
  color: #c94e50;
}
