@import "../../../variables";

#everything {
  @include small-pad-width {
    font-size: 0.9rem !important;
  }
  @include phone-width {
    font-size: 0.8rem !important;
  }
}

#column {
  @extend #everything;
  margin-left: auto;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}
.addCol {
  @extend #column;
  display: initial;
  width: 20%;
}
.addTypeTitle {
  color: #777;
  margin-bottom: 0.5rem;
}
.addIcon {
  cursor: pointer;
}

.iconContainer {
  margin-left: 1rem;
}
