@import "../../variables.scss";

.burgerBar {
  background: rgb(55, 58, 71);
  border-radius: 0.1rem;
  display: block;
  height: 20%;
  outline: none;
}
.burgerContainer {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1000;
  width: 40px;
  height: 45%;
  margin-left: 30px;
}

.container {
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 1.5rem #ddd;
  border-bottom: 0.5px #ccc solid;
  display: flex;
  margin-bottom: 2rem;
  z-index: 1000;
}

.siteName {
  color: $primaryColor;
  font-size: 2rem;
  font-weight: 700;
  margin-left: 40px;
  margin-right: auto;
  text-decoration: none;
}

.rightCtrl {
  margin-right: 2rem;
  color: $primaryColor;
  cursor: pointer;
  text-decoration: none;
}

.registerCtrl {
  @extend .rightCtrl;
  border: 1px $secondaryColor solid;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
}
