@import "../../variables.scss";

.container {
  display: flex;
}
.content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8rem;

  @include small-pad-width {
    max-width: 90%;
  }
  @include phone-width {
    max-width: 95%;
  }
}
