@import "../../variables.scss";

.navItem {
  align-items: center;
  border: 0;
  color: #b8b7ad;
  cursor: pointer;
  display: flex !important;
  outline: none;
  padding: 1em;
  text-decoration: none;

	&:hover {
		color: $primaryColor;
	}
}

.navItemActive {
  color: $secondaryColor;
}

.navItemIcon {
  padding-right: 0.5rem;
}
