@import "../../variables.scss";

$event-bg: $primaryColor;
$event-border: $quaternaryColor;
$time-selection-color: $primaryColor;
$btn-color: $secondaryColor;

@import "react-big-calendar/lib/sass/styles.scss";

.rbc-btn-group {
  button {
    outline: none;
    color: $secondaryColor;
  }
}
.rbc-toolbar-label {
  color: $primaryColor;
  font-weight: 700;
}
