@import "../../variables";

.addBtn {
  align-items: center;
  box-shadow: 0rem 0rem 2rem #ccc;
  border-color: $secondaryColor;
  border-radius: 50%;
  background-color: $primaryColor;
  display: flex;
  cursor: pointer;
  color: white;
  height: 3rem;
  justify-content: center;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  width: 3rem;
  z-index: 100;
}

.addContainer {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  bottom: 0;
}

.container {
  position: relative;
  height: 70vh;
}
