@import "../../variables.scss";
.row {
  display: flex;

  @include small-pad-width {
    flex-direction: column;
  }
  @include phone-width {
    flex-direction: column;
  }
}

.pageName {
  padding: 0.2rem;
}

.col6 {
  display: flex;
  padding: 0.2rem;
  width: 50%;
  max-width: 400px;

  @include small-pad-width {
    width: 100%;
    max-width: 100%;
  }
  @include phone-width {
    width: 100%;
    max-width: 100%;
  }
}

.title {
  font-weight: 700;
  font-size: 4rem;
  color: $primaryColor;
}
