.contentRounded {
  border-radius: 0.5rem;
}
.container {
  width: 100%;
}
.img {
  @extend .contentRounded;
  width: 100%;
  height: 100%;
}
.link {
  text-decoration: none;
  position: relative;
  width: 100%;
}

.shadow {
  @extend .contentRounded;
  position: absolute;
  background-color: black;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.name {
  align-items: center;
  color: white;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
