@import "../../../../variables";

.chartContainer {
  max-width: 100%;
  @include small-pad-width {
    max-width: 600px;
  }
  @include phone-width {
    max-width: 400px;
  }
}
.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 20vh;
}
