@import "../../../variables";
.container {
  margin: 0 0rem 2rem 2rem;
}

.dataCol {
  display: flex;
  width: 100%;
  overflow-x: none;
  color: #999;
}

.header {
  color: $primaryColor;
  font-weight: 700;
  font-size: 2rem;
}

.row {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.summaryContainer {
  display: flex;
}

.titleCol {
  font-weight: 700;
  color: #777;
}
