@import "../../variables";

.backBtn {
  border: 0;
  color: $secondaryColor;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
}

.desc {
  border: 0px;
  heigth: 100vh;
  width: 100%;
}

.duration {
  color: #666;
  font-size: 13px;
  text-align: end;
  margin-left: auto;
}

.location {
  margin-top: 0;
  margin-left: 2.3rem;
  color: $quaternaryColor;
}

.name {
  color: $primaryColor;
}

.nameContainer {
  display: flex;
  align-items: center;
}

.editLink {
  text-decoration: none;
  color: $tertiaryColor;
  margin-left: 1rem;
}

.titleRow {
  display: flex;
  align-items: center;
}
