@import "../../variables";

$btnWidth: 2rem;
$paneHeight: 70vh;

.container {
  position: relative;
  width: 100%;
  height: $paneHeight;
}

.ctrlBtns {
  display: flex;
}

#toSideBtn {
  position: absolute;
  top: 0;
  width: $btnWidth;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;

  cursor: pointer;
}

.toLeftBtn {
  @extend #toSideBtn;
  left: 0;
}

.toRightBtn {
  @extend #toSideBtn;
  right: 0;
}

.tabPane {
  height: $paneHeight;
}

.tabContainer {
  margin-left: calc(#{$btnWidth} / 2);
  margin-right: $btnWidth;
  width: calc(100% - #{$btnWidth});
  height: 100%;
}
