@import "../../variables";

.container {
  position: relative;
  height: 30rem;
}

#contentBase {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.content {
  @extend #contentBase;
  display: flex;
  flex-direction: column;
}

.descDetailRow {
  margin-left: 1rem;
  color: white;
}

.detailRow {
  margin-top: auto;
}
.detailItem {
  display: flex;
  border-top: 1px solid #ccc;
  padding: 1rem;
  padding-top: 0.5rem;
}
.detailTitle {
  margin-right: auto;
  color: #efefef;
}
.detailValue {
  color: #eee;
}

.dataTimeRow {
  margin: auto 1rem 1rem 1rem;
  display: flex;
  justify-content: flex-end;
}
.dataTimeTxt {
  color: #eee;
  font-size: 0.7rem;
}

.descMainTxt {
  font-size: 1.2rem;
  color: white;
}

.iconContainer {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.iconImg {
  width: 4rem;
}

.location {
  color: #eee;
  text-align: end;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.skyImg {
  @extend #contentBase;
  opacity: 0.7;
  background-image: linear-gradient(#9ac9f8, #3f7fbf);
}

.timeAndTempRow {
  display: flex;
  align-items: flex-start;
  margin: 1rem;
}
.tempTxt {
  font-size: 5rem;
  font-weight: 700;
  color: $primaryColor;
}
.tempUnit {
  font-size: 1rem;
  color: $primaryColor;
}
