@import "../../variables";

.contentContainer {
  // position: relative;
  // width: 100%;
  // height: auto;
  // overflow-y: auto;
}
.content {
  // position: absolute;
  // top: 0;
  // left: 0;
  // width: 100%;
  // height: 100%;
}

.row {
  display: flex;

  @include small-pad-width {
    display: inherit;
  }
  @include phone-width {
    display: inherit;
  }
}

#colContainer {
  @include small-pad-width {
    width: 100%;
  }
  @include phone-width {
    width: 100%;
  }
}

.lineChartContainer {
  @extend #colContainer;
  @include pc-width {
    width: 65%;
  }
}

.rightContainer {
  @extend #colContainer;
  display: flex;
  flex-direction: column;
  @include pc-width {
    width: 35%;
  }
}

.infoContainer {
  margin-left: 2rem;
  @include small-pad-width {
    margin-left: inherit;
  }
  @include phone-width {
    margin-left: inherit;
  }
}

.nameContainer {
  @include small-pad-width {
    margin-top: 1rem;
  }
  @include phone-width {
    margin-top: 1rem;
  }

  text-align: end;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: $primaryColor;
}
.txTitle {
  color: $primaryColor;
  font-weight: 700;
}
