.container {
  width: 100%;
  overflow: auto;
}
.footer {
  color: #777;
  display: flex;
  justify-content: flex-end;
  font-size: 0.7rem;
}
.star {
  color: #c44;
  margin-right: 0.2rem;
}

.nameAndCodeContainer {
  display: flex;
}
.nameTagContainer {
  display: flex;
  align-items: center;
}
.nameContainer {
  text-decoration: none;
  font-weight: 700;
  color: #777;
  font-size: 1rem;
}
.stockCodeContainer {
  font-size: 0.7rem;
}
.unrealizedValueAndPercent {
  display: flex;
  align-items: center;
}
.unrealizedPercentContainer {
  font-size: 0.7rem;
}
