@import "../../variables.scss";

.banner {
  color: $primaryColor;
  font-weight: 700;
}

.container {
  display: flex;
  justify-content: center;
}
.content {
  width: 500px;

  @include small-pad-width {
    width: 350px;
  }
  @include phone-width {
    max-width: 80%;
  }
}

.submitBtnDiv {
  margin-left: auto;
  margin-right: auto;
  width: 100px;

  @include phone-width {
    max-width: 50%;
  }
}
