.container {
  cursor: pointer;
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
  min-height: 10rem;
}

#contentBase {
  border-radius: 1rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.content {
  @extend #contentBase;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.shadow {
  @extend #contentBase;
  background: black;
}

.title {
  font-weight: 700;
  color: white;
  width: 80%;
}

.thumbnail {
  @extend #contentBase;
  position: inherit;
  height: auto;
}
