@import "../../variables";
.title {
  color: $primaryColor;
  font-weight: 700;
  font-size: 4rem;
}
.headlines {
  max-height: 50vh;
  overflow-y: auto;

  @include phone-width {
    max-height: 60vh;
  }
  @include small-pad-width {
    max-height: 80vh;
  }
}
