@import "../../../variables";

.deleteBtn {
  border: 1px solid $secondaryColor;
  border-radius: 0.3rem;
  color: $secondaryColor;
  cursor: pointer;
  margin-left: auto;
  padding: 0.5rem;
  text-decoration: none;
}

.row {
  display: flex;
  margin-bottom: 1rem;
}

.sectorContent {
  width: 12rem;
}

.title {
  color: #777;
  font-weight: 700;
  margin-right: auto;
}

.content {
  color: #999;
}

.importantTitle {
  @extend .title;
  font-size: 1rem;
}
.importantContent {
  @extend .content;
  font-size: 1rem;
  font-weight: 700;
}
