@import "variables";

$hoverPrimaryColor: #ffe6f7;
$hoverSecondaryColor: #fae1f2;

.ant-carousel .slick-dots li button {
  background: #777 !important;
  height: 0.7rem !important;
}
.ant-carousel .slick-dots li.slick-active button {
  background: #777 !important;
  height: 0.7rem;
}

// a {
//   &:hover {
//     color: $secondaryColor;
//   }
// }

// // BUTTONS --------------------------
// .ant-btn-primary {
//   background-color: $primaryColor;
//   border-color: $primaryColor;

//   &:hover {
//     background-color: $secondaryColor;
//     border-color: $secondaryColor;
//   }
// }
// .ant-btn {
//   &:hover {
//     border-color: $secondaryColor;
//     color: $secondaryColor;
//   }
// }

// // TABS --------------------------
// .ant-tabs-nav .ant-tabs-tab-active {
//   color: $primaryColor;
//   &:hover {
//     color: $secondaryColor;
//   }
// }
// .ant-tabs-ink-bar {
//   background-color: $primaryColor;
// }
// .ant-tabs-nav .ant-tabs-tab {
//   &:hover {
//     color: $secondaryColor;
//   }
// }

// // TABLE -------------------------------------------------
// .ant-table-tbody
//   > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
//   > td {
//   background: $hoverPrimaryColor;
// }

// .ant-dropdown-menu-item {
//   &:hover {
//     background: $hoverPrimaryColor;
//   }
// }
// .ant-table-filter-dropdown-link {
//   color: $primaryColor;
//   &:hover {
//     color: $hoverPrimaryColor;
//   }
// }
// .ant-checkbox-checked {
//   &::after {
//     border: 1px solid $primaryColor;
//   }
// }
// .ant-checkbox-checked .ant-checkbox-inner,
// .ant-checkbox:hover .ant-checkbox-inner,
// .ant-checkbox-input:focus + .ant-checkbox-inner {
//   border: 1px solid $primaryColor;
//   border-color: $primaryColor;
// }
// .ant-checkbox-checked .ant-checkbox-inner,
// .ant-dropdown-menu-item-selected {
//   color: $primaryColor;
//   background: $hoverSecondaryColor;
// }
// .ant-table-thead > tr > th .ant-table-filter-selected.anticon-filter,
// .ant-pagination-item-active a,
// .ant-pagination-item-active {
//   border-color: $primaryColor;
//   color: $primaryColor;
// }
// .ant-pagination-item {
//   &:hover {
//     border-color: $secondaryColor;
//     a {
//       color: $secondaryColor;
//     }
//   }
// }
// .ant-pagination-prev:hover .ant-pagination-item-link,
// .ant-pagination-next:hover .ant-pagination-item-link {
//   border-color: $secondaryColor;
//   i {
//     color: $secondaryColor;
//   }
// }
