@import "../../../variables";

.container {
  display: flex;
  flex-direction: column;
}

.displayName {
  color: $primaryColor;
  font-size: 1.5rem;
  font-weight: 700;
}
.displayNameContainer {
  display: flex;
  align-items: center;
  margin-left: auto;
}

#displayBtn {
  color: #aaa;
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: 0.5rem;
}
.displaySearchBtn {
  @extend #displayBtn;
}
.displayFilterBtn {
  @extend #displayBtn;
}

.searchFieldContainer {
  display: flex;
  justify-content: flex-end;
  height: 2rem;
  width: 30vw;
  margin-left: auto;

  @include small-pad-width {
    width: 70vw;
  }
  @include phone-width {
    width: 70vw;
  }
}
