.portfolioEditBtn {
  display: flex;
  justify-content: flex-end;
}

.row {
  display: flex;
  margin-bottom: 0.5rem;
}

.searchInput {
  margin-right: auto;
}

.title {
  font-weight: 700;
  color: #777;
  margin-right: auto;
}
