@import "../variables";

.row {
  display: flex;

  @include small-pad-width {
    display: block;
  }
  @include phone-width {
    display: block;
  }
}

@mixin hr() {
  border-top: 1px solid #ccc;
  padding-top: 1rem;
  margin-top: 1rem;
}

.routeContainer {
  @include hr();
}

@mixin col($pcWidth) {
  @include pc-width {
    width: $pcWidth;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  @include small-pad-width {
    width: 100%;
  }
  @include phone-width {
    width: 100%;
  }
}

.weatherCol {
  @include col(40%);
}

.newsCol {
  @include col(60%);
  @include small-pad-width {
    @include hr();
  }
  @include phone-width {
    @include hr();
  }
}
