@import "../../variables";
.boardContainer {
  position: relative;
  width: 100%;
  height: 90%;
}
.container {
  display: flex;
  flex-direction: column;
  margin: auto;

  width: 30rem;
  max-width: 500px;
  @include small-pad-width {
    width: 23rem;
  }
  @include phone-width {
    width: 17rem;
    max-width: 70vw;
  }
}
.title {
  font-weight: 700;
  font-size: 2rem;
  color: $primaryColor;
  margin-bottom: 1rem;
}
