@import "../../variables";
.container {
  position: absolute;
  left: 0;
  top: 0;
  width: 102%;
  height: 100%;

  background: radial-gradient(#fff, #ccc 80%);
  opacity: 0.97;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: $primaryColor;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1rem;

  @include phone-width {
    font-size: 1rem;
  }
}

.levelBtn {
  cursor: pointer;

  border: 1px solid #444;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 10rem;

  color: #444;
  font-size: 1rem;
  font-weight: 900;
  text-align: center;

  margin-bottom: 1rem;

  @include phone-width {
    width: 8rem;
    font-size: 0.8rem;
  }
}

.continueBtn {
  @extend .levelBtn;
  border-color: $secondaryColor;
  color: $secondaryColor;
}
