@import "../../variables";
.cell {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  width: calc(100% / 9);
  border: 1px solid $primaryColor;

  @include small-pad-width {
    padding-left: 0.1rem;
  }
  @include phone-width {
    padding-left: 0.1rem;
  }
}

.container {
  width: 100%;
  border: 2px solid $primaryColor;
}

.numInput {
  border: 0;
  outline: none;
  height: 80%;
  width: 70%;
  font-size: inherit;

  @include small-pad-width {
    width: 60%;
  }

  @include phone-width {
    width: 50%;
  }
}

.row {
  display: flex;
  height: 3rem;

  @include small-pad-width {
    height: 2.5rem;
  }
  @include phone-width {
    height: 2rem;
  }
}

.startValue {
  font-weight: 700;
  color: #bbb;
}
