@import "./variables";

.fieldRow {
  display: flex;
  align-items: flex-end;
}

.itemContent {
  @extend #contentRounded;
  width: $itemSideLength;
  height: $itemSideLength;

  border: 1px #ccc solid;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #ccc;
  font-size: 3.5rem;
}

.mediaFileBtn {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  margin-left: 1rem;
}

.previewContainer {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}

.previewImg {
  width: 50%;
}
